@model ES2TP.Models.AtivosMenuModel

@{
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Wellcome</h1>
    <h2>User: @(UserSession.username)</h2>

    <div class="form-group">
         <p> </p>
                <b></b>
        <!--form asp-action="Criar">
            <input type="submit" value="Criar Ativo Financeiro" class="btn btn-primary"/>
        </form-->
    </div>
    
    <div class="form-group">
        <p> </p>
        <b></b>
    <!--form asp-action="Editar">
    <input type="submit" value="Editar Ativo Financeiro" class="btn btn-primary"/>
    </form-->
    </div>
    
    <div class="form-group">
    <p> </p>
    <b></b>
            <!--form asp-action="Apagar">
                <input type="submit" value="Apagar Ativo Financeiro" class="btn btn-primary"/>
            </form-->
        </div>

</div>