@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wellcome</h1>

    <div class="form-group">
         <p> </p>
                <b></b>
        <form asp-action="Login">
            <input type="submit" value="Ir para Login" class="btn btn-primary"/>
        </form>
    </div>
    
    <div class="form-group">
         <p> </p>
                <b></b>
        <form asp-action="Registo">
            <input type="submit" value="Ir para Registo" class="btn btn-primary"/>
        </form>
    </div>

</div>